---
layout: layouts/base.njk
---
<article class="post">
    <header>
        <div class="margin">
            <time datetime="{{ page.date | dateISO }}">{{ page.date | dateLabel }}</time>
            {% include "mark.njk" %}
        </div>
        <h1>{{ title | taggedTitle | safe }}</h1>
    </header>
    <div class="article-body">
        <div class="prose">{{ content | safe }}</div>
    </div>
    <footer><a href="/writings/">← All writing</a></footer>
</article>
